@import "tailwindcss";

/* * {
  margin: 1;
  padding: 01;
  box-sizing: border-box;

} */

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-family:
    Inter,
    system-ui,
    sans-serif;    

  background-color: #ffffff;
}